<template>
  <div id="app">
    <calculator/>
  </div>
</template>

<script>

import Calculator from '@/components/Calculator.vue';

export default {
  name: 'App',
  components: { Calculator },
};
</script>

<style>
* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
}

</style>
